

body {
  background-color: #fffbed
}

h1 {
  	font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;

}
p {
  font-family: cursive;
  word-wrap: break-word;
}
.topOfPage {
  background-color:#228B22
}
.overall{

}

.input{
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}
