

body {
  background-color: #fffbed
}

h1 {
  	font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
    top: 50%; /* IMPORTANT */
    left: 50%; /* IMPORTANT */
}

p {
  font-family: cursive;
  word-wrap: break-word;
  font-size: 12px;
}
.topOfPage {
  display:inline-block;
    padding: 10px;
}
.overall{

}

.input{
  display: inline-block;
  font-size: 20px;
  padding: 30px;
}

.states {
  width:70px; height:80px;
}

.topics {
  width:180px; height:80px;
}

.thebutton {
  width:30px; height:80px;
}

.square {
  horizontal-align: left;
  float: left;
  padding: 10px;
  width: 200px;


}
