

body {
  background-color: #fffbed
}

h1 {
  	font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
    top: 50%; /* IMPORTANT */
    left: 50%; /* IMPORTANT */
    margin-top: -208.5px; /* HALF OF THE HEIGHT */
    margin-left: -375px; /* HALF OF THE WIDTH */
}

p {
  font-family: cursive;
  word-wrap: break-word;
}
.topOfPage {
  display:inline-block;
  background-color:#228B22
}
.overall{

}

.input{
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}

.states {
  width:80px; height:80px;
}

.topics {
  width:80px; height:80px;
}

.thebutton {
  width:80px; height:80px;
}
